<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap" rel="stylesheet">

<!-- Css -->
<link rel="stylesheet" href="../../public/css/main.css">

<title> Dashboard </title>
</head>

<body class="bg-gray-200">

<main class="grid grid-cols-6">

    <!-- Aside nav bar -->
    <aside class="bg-white overflow-hidden absolute md:relative md:col-span-1 aside-nav border-r border-gray-300">
        <div class="p-5">
    
            <!-- MAIN -->
            <ul>
                <li class="side-title font-bold text-gray-500 text-sm"> MAIN </li>
                <li class="mt-2">
                    <a href="../../dashboard.html" class="block side-link p-2 active-side-link"> <i
                            class="inline-block link-icon" data-feather="clock"></i> Dashboard </a>
                </li>
            </ul>
    
            <!-- PAGES -->
            <ul class="mt-8">
                <li class="side-title font-bold text-gray-500 text-sm"> PAGES </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon" data-feather="user"></i>
                        Profile </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon"
                            data-feather="message-square"></i> Chat </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon" data-feather="file-text"></i>
                        Invoice </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon"
                            data-feather="dollar-sign"></i> Pricing </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon"
                            data-feather="help-circle"></i> FAQs </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon" data-feather="inbox"></i>
                        Inbox </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon" data-feather="image"></i>
                        Gallery </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon" data-feather="file"></i>
                        Empty </a>
                </li>
            </ul>
    
            <!-- COMPONENTS -->
            <ul class="mt-8">
                <li class="side-title font-bold text-gray-500 text-sm"> COMPONENTS </li>
                <li class="mt-2">
                    <span data-collapse="uikits" class="block side-link p-2 collapse-btn cursor-pointer">
                        <i class="inline-block link-icon" data-feather="grid"></i> UI Kits
                        <i class="inline-block p-1 text-gray-700 float-right" data-feather="chevron-down"></i>
                    </span>
                    <!-- Collapse -->
                    <div id='uikits' class="collapse-content">
                        <ul class="ml-4 pl-2 mb-2 border-l-2 border-gray-400 text-sm">
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./alerts.html" class="nav-link">Alerts</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./badges.html" class="nav-link">Badges</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./breadcrumbs.html" class="nav-link">Breadcrumbs</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./buttons.html" class="nav-link">Buttons</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./cards.html" class="nav-link">Cards</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./dropdowns.html" class="nav-link">Dropdowns</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./widgets.html" class="nav-link">Widgets</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./modals.html" class="nav-link active">Modal</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./navs.html" class="nav-link">Navs</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./navbars.html" class="nav-link">Navbar</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./paginations.html" class="nav-link">Pagination</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./pogresses.html" class="nav-link">Progress</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./spinners.html" class="nav-link">Spinners</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="./popovers.html" class="nav-link">Tooltips & Popovers</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mt-2">
                    <span data-collapse="forms" class="block side-link p-2 collapse-btn cursor-pointer">
                        <i class="inline-block link-icon" data-feather="clipboard"></i> Forms
                        <i class="inline-block p-1 text-gray-700 float-right" data-feather="chevron-down"></i>
                    </span>
                    <!-- Collapse -->
                    <div id='forms' class="collapse-content">
                        <ul class="ml-4 pl-2 mb-2 border-l-2 border-gray-400 text-sm">
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="#" class="nav-link">Standard</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="#" class="nav-link">Form Layout</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="#" class="nav-link">Extended</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="#" class="nav-link">Editor</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="#" class="nav-link">Datepicker</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="#" class="nav-link">File Upload</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="#" class="nav-link">Validation</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon" data-feather="pie-chart"></i>
                        Charts </a>
                </li>
                <li class="mt-2">
                    <span data-collapse="tables" class="block side-link p-2 collapse-btn cursor-pointer">
                        <i class="inline-block link-icon" data-feather="layout"></i> Tables
                        <i class="inline-block p-1 text-gray-700 float-right" data-feather="chevron-down"></i>
                    </span>
                    <!-- Collapse -->
                    <div id='tables' class="collapse-content">
                        <ul class="ml-4 pl-2 mb-2 border-l-2 border-gray-400 text-sm">
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="#" class="nav-link">Standard</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="#" class="nav-link">Data Tables</a>
                            </li>
                            <li class="p-1 hover:text-gray-700 transition">
                                <a href="#" class="nav-link">Extended</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
    
            <!-- AUTH -->
            <ul class="mt-8">
                <li class="side-title font-bold text-gray-500 text-sm"> AUTH </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon"
                            data-feather="user-check"></i> Login </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon" data-feather="user-plus"></i>
                        Register </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon" data-feather="key"></i>
                        Forgot password </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="block side-link p-2"> <i class="inline-block link-icon" data-feather="x-octagon"></i>
                        404 </a>
                </li>
            </ul>
        </div>
    </aside>

    <section class="col-span-6 md:col-span-5 main-content">

        <!-- + Header  -->
        <header class="bg-white shadow py-1 px-3">
            <nav class="flex justify-between items-center">
                <div class="flex">
                    <div id='aside-toggler' class="p-2 mr-2 bg-gray-200 cursor-pointer rounded transition hover:bg-gray-300">
                        <i data-feather="menu"></i>
                    </div>
                    <div class="hidden md:block">
                        <div class="relative text-gray-600">
                            <button type="submit" class="absolute left-0 top-0 mt-2 mr-4">
                                <i data-feather="search"></i>
                            </button>
                            <input type="search" name="serch" placeholder="Search"
                                class="bg-white h-10 px-5 pl-10 text-sm focus:outline-none">
                        </div>
                    </div>
                </div>
                <div class="flex justify-end w-full">
        
                    <ul class="flex">
                        <li class="m-3 relative dropdown-wrapper">
                            <div data-dropdown="messages_dropdown" class="dropdown-toggler">
                                <span
                                    class="absolute flex rounded-full text-xs p-1 right-0 bg-green-500 text-white font-bold"></span>
                                <i data-feather='message-square'></i>
                            </div>
        
                            <!-- Messages Dropdown -->
                            <div id="messages_dropdown"
                                class="dropdown absolute mt-2 rounded shadow-lg bg-white messages-dropdown">
                                <div>
                                    <div class="border-b border-gray-200 p-2 bg-gray-100 w-full flex justify-between">
                                        <span class="text-sm text-gray-600 font-semibold">5 New Messages</span>
                                        <span class="text-sm text-gray-400 text-xs hover:text-gray-500"> Clear all
                                        </span>
                                    </div>
                                    <div class="p-2">
                                        <a href="#" class="block hover:bg-gray-200 p-2 transition">
                                            <div class="flex justify-between">
                                                <div class="flex items-center">
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTNJ61Lvxp7krcjDCDW4XARBbsmrzsQZkUFqiBl3endwEPrybeh"
                                                        alt="" class="rounded-full" width="35px">
                                                    <div class="ml-2">
                                                        <p class="text-sm"> Jackeline Grant </p>
                                                        <p class="text-gray-600 text-xs"> Project updates </p>
                                                    </div>
                                                </div>
                                                <span class="text-sm text-gray-500"> 2min ago </span>
                                            </div>
                                        </a>
                                        <a href="#" class="block hover:bg-gray-200 p-2 transition">
                                            <div class="flex justify-between">
                                                <div class="flex items-center">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/gofrasdesign/128.jpg"
                                                        alt="" class="rounded-full" width="35px">
                                                    <div class="ml-2">
                                                        <p class="text-sm"> Melody Schimmel </p>
                                                        <p class="text-gray-600 text-xs"> Adding features </p>
                                                    </div>
                                                </div>
                                                <span class="text-sm text-gray-500"> 5h ago </span>
                                            </div>
                                        </a>
                                        <a href="#" class="block hover:bg-gray-200 p-2 transition">
                                            <div class="flex justify-between">
                                                <div class="flex items-center">
                                                    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/roybarberuk/128.jpg"
                                                        alt="" class="rounded-full" width="35px">
                                                    <div class="ml-2">
                                                        <p class="text-sm"> Maryam Funk </p>
                                                        <p class="text-gray-600 text-xs"> Client Meeting </p>
                                                    </div>
                                                </div>
                                                <span class="text-sm text-gray-500"> 20sec ago </span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="border-t border-gray-200 p-2 bg-gray-100 w-full">
                                        <a href="#" class="block text-center bg-gray-100 text-blue-600 hover:text-blue-700">
                                            View all </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="m-3 relative dropdown-wrapper">
                            <div data-dropdown="notification_dropdown" class="dropdown-toggler">
                                <span
                                    class="absolute flex rounded-full text-xs p-1 right-0 bg-red-500 text-white font-bold"></span>
                                <i data-feather='bell'></i>
                            </div>
        
                            <!-- Notification Dropdown -->
                            <div id='notification_dropdown'
                                class="dropdown absolute mt-2 rounded shadow-lg bg-white notification-dropdown">
                                <div class="border-b border-gray-200 p-2 bg-gray-100 w-full flex justify-between">
                                    <span class="text-sm text-gray-600 font-semibold">5 New Notifications</span>
                                </div>
                                <div class="p-2">
                                    <a href="#" class="block hover:bg-gray-200 p-2 transition">
                                        <p class="text-sm"> New order placed </p>
                                        <p class="text-gray-600 text-xs"> 5min ago </p>
                                    </a>
                                    <a href="#" class="block hover:bg-gray-200 p-2 transition">
                                        <p class="text-sm"> New user registered </p>
                                        <p class="text-gray-600 text-xs"> 5h ago </p>
                                    </a>
                                    <a href="#" class="block hover:bg-gray-200 p-2 transition">
                                        <p class="text-sm"> Server limit reached </p>
                                        <p class="text-gray-600 text-xs"> 2d ago </p>
                                    </a>
                                </div>
                                <div class="border-t border-gray-200 p-2 bg-gray-100 w-full">
                                    <a href="#" class="block text-center bg-gray-100 text-blue-600 hover:text-blue-700">
                                        View all </a>
                                </div>
                            </div>
                        </li>
                    </ul>
        
                    <div class="cursor-pointer flex items-center pl-2 border-l border-gray-200 dropdown-wrapper">
                        <div data-dropdown="user_dropdown" class="dropdown-toggler">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKM9BUy0eVYn8_C3sg0J40Oa5MlWpFbS83fleauNdF4W5HQQJQ"
                                alt="" class="rounded-full inline-block" width="40px">
                            <span class="ml-2 mr-1 inline-block"> Christ Roob </span>
                        </div>
        
                        <!-- User Dropdown -->
                        <div id="user_dropdown" class="dropdown absolute mt-1 rounded shadow-lg bg-white user-dropdown">
                            <a href="#" class="block hover:bg-gray-200 p-2 transition">
                                <i data-feather='user' class="mr-2 inline-block bg-gray-200 p-1 rounded-full"></i>
                                Profile
                            </a>
                            <a href="#" class="block hover:bg-gray-200 p-2 transition">
                                <i data-feather='settings' class="mr-2 inline-block bg-gray-200 p-1 rounded-full"></i> Settings
                            </a>
                            <hr>
                            <a href="#" class="block hover:bg-gray-200 p-2 transition">
                                <i data-feather='log-out' class="mr-2 inline-block bg-gray-200 p-1 rounded-full"></i> Logout
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- - Header -->

        <!-- Main content -->
        <div id="main-content" aria-label="main-content">
            <div class="mb-5">
                <h1 class="text-4xl font-semibold"> Badges </h1>
                <p class="text-gray-500 mb-3">Small count and labeling component.</p>
                <hr>
            </div>


            <!-- Badges -->
            <div class="shadow bg-white p-3">
                <div class="flex items-center">
                    <span class="rounded-full bg-teal-500 uppercase px-2 py-1 text-xs font-bold text-white m-1">New</span>
                    <span class="rounded-full bg-red-500 uppercase p-2 text-xs text-white h-6 w-6 flex items-center justify-center m-1">10</span>
                    <span class="h-0 w-0 flex rounded-full text-xs p-1 right-0 bg-red-500 text-white font-bold m-1"></span>
                    <span class="h-0 w-0 rounded-full text-xs p-1 right-0 bg-green-500 text-white font-bold m-1"></span>
                    <span class="rounded-full bg-black uppercase px-2 py-1 text-xs font-bold text-white m-1">Dark</span>
                    <span class="bg-blue-500 uppercase px-2 py-1 text-xs font-bold text-white m-1">Box</span>
                    <span class="rounded bg-green-200 text-green-500 uppercase px-2 py-1 text-xs font-bold text-white m-1">Free</span>
                    <span class="rounded bg-red-200 text-red-500 uppercase px-2 py-1 text-xs font-bold text-white m-1">50% OFF </span>
                </div>
            </div>

            <!-- Examples -->
            <div class="shadow bg-white p-3 mt-4">
                <h1 class="text-lg text-gray-700 mb-5"> Examples </h1>
                <div class="flex items-center">
                    <div class="p-2 bg-gray-800 items-center text-gray-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
                        <span class="flex rounded-full bg-blue-500 uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
                        <span class="font-semibold mr-2 text-left flex-auto">Get the coolest t-shirts from our brand new store</span>
                        <i class="opacity-75 h-4 w-4" data-feather="chevron-right"></i>
                    </div>

                    <div class="mx-10 relative rounded-full border-2 border-gray-400">
                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/anthonysukow/128.jpg" width="50px" height="50px" alt="" class="rounded-full">
                        <span class="absolute right-0 bottom-0 shadow-md w-0 h-0 rounded-full text-xs p-1 right-0 bg-green-500 text-white font-bold m-1"></span>
                    </div>

                    <div class="mr-10 rounded-full border border-gray-400 p-2 relative">
                        <i data-feather="bell"></i>
                        <span class="absolute rounded-full bg-red-500 uppercase text-xs text-white h-5 w-5 flex items-center justify-center top-0 right-0">5</span>
                    </div>

                    <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
                        <i class="h-4 mr-2" data-feather="download"></i>
                        <span>Download</span>
                        <span class="rounded bg-blue-200 text-blue-500 uppercase px-2 py-1 text-xs font-bold text-white ml-2">Free</span>
                    </button>
                </div>
            </div>

        </div>
        <!-- Main content -->

    </section>

</main>



<!-- Javascript -->
<script src="../../public/js/animations.js"></script>
<script src="../../public/js/libs/feather.min.js"></script>
<script src="../../public/js/libs/slimScroll.min.js"></script>

<!-- Initialize feather -->
<script>
    feather.replace();
    // const myTable = document.querySelector("#myTable");
    // const dataTable = new DataTable(myTable);
    new slimScroll(document.querySelector('.aside-nav'), {
        'wrapperClass': 'scroll-wrapper unselectable mac',
        'scrollBarContainerClass': 'scrollBarContainer',
        'scrollBarContainerSpecialClass': 'animate',
        'scrollBarClass': 'scroll',
        'keepFocus': true
    })
</script>

</body>

</html>